<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Table of users</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Age</th>
            <th>Pas</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.user}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.pas}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>